src/TDengineDriver/bin/
src/TDengineDriver/obj/
NugetPackTest/
examples/bin/
examples/obj/
.vs
src/Driver.Test/.config/
src/Driver.Test/TestResults/
src/Driver.Test/bin/
src/Driver.Test/coveragereport/
src/Driver.Test/obj
src/Driver.Test/doc
