test/Driver.Test/bin/
test/Driver.Test/obj/
test/Driver.Test/doc/
test/Driver.Test/TestResults/
test/Benchmark/bin/
test/Benchmark/obj/
test/Benchmark/result/
coveragereport/
src/bin/
src/obj/
NugetPackTest/
examples/bin/
examples/obj/
.config/
.vs
